<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Joggernaut</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/index.css") %>">
  </head>

  <body>
    <main id="root">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <footer id="footer">
      <small>
    </footer>
    <script src="<%= static_path(@conn, "/js/index.js") %>"></script>
  </body>
</html>
